<div class="container">

  <form name="advertForm" novalidate class="ma-edit-advert-form form-horizontal">
    <h4>Edit advert</h4>

    <div class="control-group">
      <label class="control-label">Advert Id</label>
      <div class="controls">
        <input type="text" readonly="readonly" name="advertId" ng-model="editAdvert._id">
      </div>
    </div>    
    
    <div class="control-group">
      <label class="control-label">Brand</label>
      <div class="controls">
        <select name="brand" ng-model="editAdvert.brand" required ng-options="b.name for b in brands">
          <option value=""></option>
        </select>
        <span class="ma-form-msg-error help-inline" ng-show="advertForm.brand.$dirty && advertForm.brand.$invalid">Invalid brand</span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Model</label>
      <div class="controls">
        <select name="model" ng-model="editAdvert.model" required ng-options="m.name for m in editAdvert.brand.models">
          <option value=""></option>
        </select>
        <span class="ma-form-msg-error help-inline" ng-show="advertForm.model.$dirty && advertForm.model.$invalid">Invalid model</span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Year</label>
      <div class="controls">
        <input type="number" name="year" ng-model="editAdvert.year" required min="1900" ng-minlength="4" ng-maxlength="4">
        <span class="ma-form-msg-error help-inline" ng-show="advertForm.year.$dirty && advertForm.year.$invalid">Invalid year</span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Price ($)</label>
      <div class="controls">
        <input type="text" ma-currency name="price" ng-model="editAdvert.price" required>
        <span class="ma-form-msg-error help-inline" ng-show="advertForm.price.$dirty && advertForm.price.$invalid">Invalid price</span>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label">Image URL</label>
      <div class="controls">
        <input type="text" ma-currency name="price" ng-model="editAdvert.imageUrl" required>
        <span class="ma-form-msg-error help-inline" ng-show="advertForm.imageUrl.$dirty && advertForm.imageUrl.$invalid">Invalid image URL</span>
      </div>
    </div>    

    <div class="control-group">
      <label class="control-label">Country</label>
      <div class="controls">
        <select name="country" ng-model="editAdvert.country" required ng-options="c.name for c in countries">
          <option value=""></option>
        </select>
        <span class="ma-form-msg-error help-inline" ng-show="advertForm.country.$dirty && advertForm.country.$invalid">Invalid country</span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Region</label>
      <div class="controls">
        <select name="region" ng-model="editAdvert.region" required ng-options="r.name for r in editAdvert.country.regions">
          <option value=""></option>
        </select>
        <span class="ma-form-msg-error help-inline" ng-show="advertForm.region.$dirty && advertForm.region.$invalid">Invalid region</span>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button ng-click="updateAdvert()" ng-disabled="advertForm.$invalid || isUnchanged()"
                class="btn btn-primary">Update</button>
      </div>
    </div>

  </form>

</div>